
    <div class="modal-header">
        <span> Assign a tester to this sample</span>
        <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
            <span class="text-dark" aria-hidden="true">&times;</span>
          </button>

    </div>
    <div class="modal-body pt-0">
        <div class="form">
            <input [(ngModel)]="selected.tester"
            typeaheadOptionField="name"
            [typeahead]="testers$"
            [typeaheadAsync]="true"
            (typeaheadOnSelect)="selectMatch($event)"
            class="form-control"
            placeholder="Start typing the tester name or email">
       </div>
    </div>
    

<ng-template #customListTemplate let-matches="matches" let-query="query" let-typeaheadTemplateMethods>
    <ul class="custom-list-group">
      <li class="custom-list-group-item"
          *ngFor="let match of matches"
          (click)="selectMatch(match, $event)"
      >
        {{ match.item }}
      </li>
    </ul>
  </ng-template>