
<div class="modal-header bg-transparent pb-3 d-flex">
    <div class="text-center text-muted flex-grow-1">
        <span>Edit product</span>
    </div>
    <button type="button" class="close pull-right" aria-label="Close" (click)="dismiss()">
        <span class="text-dark" aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">

        <div class="row">
            <div class=" col-lg-6">
              <div class=" form-group">
                <label class=" form-control-label text-white" for="input-name">
                  Name*
                </label>

                <input 
                class=" form-control" 
                id="input-name" 
                type="text"  
                [class.is-invalid]="submitted && f.name.errors"
                formControlName="name" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">
                    Name is required.
                  </div>
                </div>
              </div>
            </div>

            <div class=" col-lg-6">
              <div class=" form-group">
                <label class=" form-control-label text-white" for="input-code">
                  Code*
                </label>

                <input 
                class=" form-control" 
                id="input-code" 
                type="text"  
                [class.is-invalid]="submitted && f.code.errors"
                formControlName="code" />
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                  <div *ngIf="f.code.errors.required">
                    Code is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class=" col-lg-6">
              <div class=" form-group">
                <label class=" form-control-label text-white" for="input-brand">
                  Brand*
                </label>

                <input class=" form-control" id="input-brand" type="text"  [class.is-invalid]="submitted && f.brand.errors"
                  formControlName="brand" />

                <div *ngIf="submitted && f.brand.errors" class="invalid-feedback">
                  <div *ngIf="f.brand.errors.required">
                    Brand is required.
                  </div>
                </div>
              </div>
            </div>

            <div class=" col-lg-6">
              <div class=" form-group">
                <label class=" form-control-label text-white" for="input-price">
                  Price*
                </label>

                <input class=" form-control" id="input-price" type="text"  [class.is-invalid]="submitted && f.price.errors"
                  formControlName="price" />

                <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
                  <div *ngIf="f.price.errors.required">
                    Price is required.
                  </div>
                </div>
              </div>

            </div>

            <div class=" col-lg-6">
              <div class=" form-group">
                <label class=" form-control-label text-white" for="input-stock">
                  Stock*
                </label>

                <input class=" form-control" id="input-stock" type="text"  [class.is-invalid]="submitted && f.stock.errors"
                  formControlName="stock" />

                <div *ngIf="submitted && f.stock.errors" class="invalid-feedback">
                  <div *ngIf="f.stock.errors.required">
                    Stock is required.
                  </div>
                </div>
              </div>

            </div>

            <div class=" col-lg-6">
              <div class=" form-group">
                <label class=" form-control-label text-white" for="input-size">
                  Size
                </label>

                <select class="form-control" data-toggle="select" 
                  [class.is-invalid]="submitted && f.size.errors"
                  id="selectr" formControlName="size" >
                  <option value=""> Select your size </option>
                  <option [value]="s.value" *ngFor="let s of size"> {{s.label}} </option>
                </select>

                <div *ngIf="submitted && f.size.errors" class="invalid-feedback">
                  <div *ngIf="f.size.errors.required">
                    Size is required.
                  </div>
                </div>
              </div>

            </div>

            <div class=" col-lg-6">
              <div class=" form-group">
                <label class=" form-control-label text-white" for="input-sex">
                  Sex
                </label>

                <input class=" form-control" id="input-sex" type="text"  [class.is-invalid]="submitted && f.sex.errors"
                  formControlName="sex" />


              </div>
            </div>

              <div class=" col-lg-6">
                <div class=" form-group">
                  <label class=" form-control-label text-white" for="input-color">
                    Color
                  </label>

                  <input class=" form-control" id="input-color" type="text"  [class.is-invalid]="submitted && f.color.errors"
                    formControlName="color" />

                </div>

              </div>

              <div class=" col-lg-6">
                <div class=" form-group">
                  <label class=" form-control-label text-white" for="input-description">
                    Description
                  </label>

                  <input class=" form-control" id="input-description" type="text"  [class.is-invalid]="submitted && f.description.errors"
                    formControlName="description" />

                </div>

              </div>

              <div class=" col-lg-6">
                <div class=" form-group">
                  <label class=" form-control-label text-white" for="input-material">
                    Material
                  </label>

                  <input class=" form-control" id="input-material" type="text"  [class.is-invalid]="submitted && f.material.errors"
                    formControlName="material" />

                </div>

              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <label class=" form-control-label text-white" for="input-material">
                    Image
                  </label>
                    <div class="input-group input-group-alternative"
                        [class.is-invalid]="submitted && f.image.errors">
                        <input  class="custom-file-input" placeholder="Add photo"
                            type="file" (change)="uploadImage('image',$event)"/>
                            <label class=" custom-file-label" for="customFileLang">
                                Add photo
                            </label>
                    </div>
                </div>
              </div>

              <div class="col-6 mt-4">
                <ngx-avatar class="mr-2" 
                [name]="X" 
                [src]="'http://localhost:3000/' + product.image.file"
                [round]="true"
                [initialsSize]="2">
              </ngx-avatar>

              </div>
          </div>

        <div class="text-center">
            <button type="button" type="submit" class="btn btn-primary mt-4">
               Save changes
            </button>
        </div>
    </form>


</div>