<div class="container-fluid">
  <div class="floating-count">
    <strong>{{ testsPager.totalItems || 0 }}</strong> total items
  </div>
  <div class=" card">
    <div class=" card-header border-0 d-flex">
      <form #filtersForm="ngForm" autocomplete="off" class="mr-5">
        <div class="row">
          <!-- job -->
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-badge"></i></span>
              </div>

              <input [(ngModel)]="selected.job"
              [ngModelOptions]="{ standalone: true }"
              [typeahead]="jobs$"
              [typeaheadAsync]="true"
              (typeaheadOnSelect)="selectMatch('job',$event)"
              typeaheadOptionField="name"
              (input)="clearIfEmpty('job')"
              class="form-control" placeholder="Job">
            </div>
          </div>

          <!-- client -->
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-badge"></i></span>
              </div>

              <input [(ngModel)]="selected.client"
              [ngModelOptions]="{ standalone: true }"
              [typeahead]="clients$"
              [typeaheadAsync]="true"
              (typeaheadOnSelect)="selectMatch('client',$event)"
              typeaheadOptionField="name"
              (input)="clearIfEmpty('client')"
              class="form-control" placeholder="Client">
            </div>
          </div>

          <!-- tester -->
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-ambulance"></i></span>
              </div>

              <input [(ngModel)]="selected.tester"
              [ngModelOptions]="{ standalone: true }"
              typeaheadOptionField="name"
              [typeahead]="testers$"
              [typeaheadAsync]="true"
              (typeaheadOnSelect)="selectMatch('tester',$event)"

              (input)="clearIfEmpty('tester')"
              class="form-control" placeholder="Tester">
            </div>
          </div>
          <!-- patient -->
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-single-02"></i></span>
              </div>
             
              <input [(ngModel)]="selected.patient"
              [ngModelOptions]="{ standalone: true }"
              [typeahead]="patients$"
              [typeaheadAsync]="true"
              (typeaheadOnSelect)="selectMatch('patient',$event)"
              typeaheadOptionField="name"
              (input)="clearIfEmpty('patient')"
              class="form-control" placeholder="Patient">
            </div>
          </div>
          

         

        <!-- result -->
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-tag"></i></span>
              </div>
            
              <select class=" form-control" (change)="selectMatch('result',$event)" name="result">
                <option value=""> Select test result </option>

                <option [value]="result.value" *ngFor="let result of results"> {{result.label}} </option>
              </select>
           
            </div>
          </div>


          
        <!-- temperature -->
        <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ni ni-ruler-pencil"></i></span>
            </div>
            <input name="temperature" class="form-control" [(ngModel)]="filters.temperature"
            placeholder="Temperature" type="text" />
          </div>
        </div>
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="filters.startDate"
                name="startDate" class="form-control" placeholder="From date" type="text">
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="filters.endDate"
                name="endDate" class="form-control" placeholder="Until date" type="text">
            </div>
          </div>
        </div>
      </form>
      <!-- <div class="ml-auto">
        <button class="btn btn-icon btn-sm btn-primary btn-primary" (click)="add()">
          <span class="btn-inner--icon">
            <i class="ni ni-fat-add"></i>
          </span>
          Add new 
        </button>
      </div> -->
    </div>

    <div class=" table-responsive table-hover sticky-last-column">
      <table class=" table align-items-center table-flush">
        <thead class=" thead-light">
          <tr>
            <th scope="col">Code</th>

            <th scope="col">Requesting Client</th>

            <th scope="col">Testers</th>

            <th scope="col">Used Devices</th>

            <th scope="col">Patient</th>

            <th scope="col">Temperature</th>

            <th scope="col">Result</th>
            
            <th scope="col">Updated At</th>

            <th scope="col">Created At</th>

            <th scope="col"></th>
          </tr>
        </thead>

        <tbody class=" list">
          <ng-template #loading>
            <tr>
              <td colspan="10" class="text-center"> Loading. Please wait...</td>
            </tr>
          </ng-template>

          <ng-container *ngIf="(tests$ | async) as tests; else loading">
            <tr>
              <td colspan="10" class="text-center" *ngIf="tests.length === 0"> No tests available yet. Please try
                again later.</td>
            </tr>
            <tr *ngFor="let test of tests | paginate: testsPager; trackBy: trackById;">
              <th scope="row">
                <div class="align-items-center" *ngIf="test.code">
                  <img [src]="renderBarcode(test)" /><br />
                  {{test.code}}
                </div>
              </th>


              <td class="bg-y">
                <div class=" media align-items-center" *ngIf="test.job && test.job.client" [routerLink]="['/', 'tester', 'clients', 'profile', test.job.client.id]">
                  <ngx-avatar class="mr-2" 
                    [name]="test.job.client.name" 
                    [src]="test.job.client.avatar"
                    [round]="true" 
                    [initialsSize]="2"></ngx-avatar>

                  <div class=" media-body d-flex flex-column">
                    <span class=" name mb-0 text-sm text-truncate d-inline-block" style="max-width: 150px;">
                      {{test.job.client.name}}
                    </span>
                    <small class="text-muted">{{test.job.client.email}}</small>
                  </div>
                </div>
              </td>

              <td class="bg-y">
                <div class="avatar-group" *ngIf="test.testers && test.testers.length > 0">
                  <a href="javascript:void(0)"
                    *ngFor="let tester of test.testers"
                    [routerLink]="['/', 'tester', 'profile', tester.id]"
                    [tooltip]="tester.firstName + ' ' + tester.lastName"
                    placement="top" 
                    class=" avatar rounded-circle" >
                    <ngx-avatar 
                        [name]="tester.firstName + ' ' + tester.lastName" 
                        [src]="tester.avatar" 
                        [round]="false"
                        [initialsSize]="2"></ngx-avatar>
                  </a>
                </div>
              </td>

              <td class="bg-y">
                <div class="avatar-group" *ngIf="test.devices && test.devices.length > 0">
                  <a href="javascript:void(0)"
                    *ngFor="let device of test.devices"
                    [routerLink]="['/', 'tester', 'device', device.id]"
                    [tooltip]="(device.type || 'Unknown') + ' [' + device.identifier + ']'"
                    placement="top" 
                    class=" avatar rounded-circle" >
                    <ngx-avatar 
                        [value]="(device.type || 'Unknown')" 
                        [round]="false"
                        [textSizeRatio]="8"
                        [initialsSize]="2"></ngx-avatar>
                  </a>
                </div>
              </td>

              <td class="bg-y">
                <div class=" media align-items-center" *ngIf="test.patient" [routerLink]="['/', 'tester', 'profile', test.patient.id]">
                  <ngx-avatar class="mr-2" 
                    [name]="test.patient.firstName + '' +  test.patient.lastName " 
                    [src]="test.patient.avatar"
                    [round]="true" 
                    [initialsSize]="2"></ngx-avatar>

                  <div class=" media-body d-flex flex-column">
                    <span class=" name mb-0 text-sm text-truncate d-inline-block" style="max-width: 150px;">
                      {{test.patient.firstName}} {{test.patient.lastName}}
                    </span>
                    <small class="text-muted">{{test.patient.email}}</small>
                  </div>
                </div>
              </td>

              <td class="text-center">
                <span *ngIf="test.temperature">{{test.temperature}}°F</span>
              </td>

              <td class="text-center" >
                <span class=" badge badge-dot mr-4" [tooltip]="test.reason">
                  <i [ngClass]="{ 
                    'bg-dark': !test.result,
                    'bg-yellow': test.result === 'RETEST',
                    'bg-success': test.result === 'NEGATIVE',
                    'bg-danger': test.result === 'POSITIVE'
                  }"> </i>

                  <span class=" status"> {{test.result || 'Pending'}} </span>
                </span>
              </td>

              <td class="text-center">
                <span>{{test.updatedAt | date: 'dd/MM/yyyy HH:mm'}}</span>
              </td>

              <td class="text-center">
                <span>{{test.createdAt | date: 'dd/MM/yyyy HH:mm'}}</span>
              </td>

              <td class=" text-right">
                <div dropdown class="dropdown no-caret" container="body">
                  <a id="button-basic" dropdownToggle role="button"
                    class="btn btn-sm btn-icon-only text-light dropdown-toggle" aria-controls="dropdown-basic">
                    <i class=" fas fa-ellipsis-v"> </i>
                  </a>

                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>

                    <button [disabled]="!test.result" class="dropdown-item" (click)="downloadPDF(test)">
                      Export PDF
                    </button>

                    <button class="dropdown-item" (click)="edit(test)">
                      Edit
                    </button>

                    <button class="dropdown-item" (click)="delete(test)">
                      Delete
                    </button>
                  </div>
                  
                </div>
              </td>

            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <app-pagination (pageChange)="pageChanged($event)"></app-pagination>
  </div>
</div>