<div class="row d-flex justify-content-center">
  <div *ngFor="let product of products" class="col-10 col-sm-6 col-lg-2 mx-3" >
    <div class=" card">
      <img
        alt="Image placeholder"
        class=" card-img-top"
        [src]=getImage(product)
      />
    
      <div class=" card-body">
        <h5 class=" h2 card-title mb-0">{{ product.name }}</h5>
    
        <small class=" text-muted">
          {{ product.brand }}
        </small>
    
        <p class=" card-text mt-4">
          {{ product.price }} RON
        </p>
    
        <button *ngIf="product.stock > 0"class="btn btn-secondary" [routerLink]="['/admin','homepage','product',product.code]">View Product</button>
        <h4 *ngIf="product.stock <= 0" class="text-danger mt-4">Out of stock</h4>
      </div>
    </div>
  </div>
</div>
