<div class="container-fluid">
  <div class=" card">
    <div class=" card-header border-0 d-flex">
      <form #filtersForm="ngForm" autocomplete="off" class="mr-5">
        <div class="row">

          <!-- client -->
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-badge"></i></span>
              </div>

              <input [(ngModel)]="selected.client"
              [ngModelOptions]="{ standalone: true }"
              [typeahead]="clients$"
              [typeaheadAsync]="true"
              (typeaheadOnSelect)="selectMatch('client',$event)"
              typeaheadOptionField="name"
              (input)="clearIfEmpty('client')"
              class="form-control" placeholder="Client">
            </div>
          </div>

          <!-- asssinged to -->
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-ambulance"></i></span>
              </div>

              <input [(ngModel)]="selected.tester"
              [ngModelOptions]="{ standalone: true }"
              typeaheadOptionField="name"
              [typeahead]="testers$"
              [typeaheadAsync]="true"
              (typeaheadOnSelect)="selectMatch('tester',$event)"
              typeaheadOptionField="name"
              (input)="clearIfEmpty('tester')"
              class="form-control" placeholder="Tester">
            </div>
          </div>


          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="filters.startDate"
                name="startDate" class="form-control" placeholder="From date" type="text">
            </div>
          </div>

          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline" *ngIf="isTesterAdmin">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
              </div>
              <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="filters.endDate"
                name="endDate" class="form-control" placeholder="Until date" type="text">
            </div>
          </div>
        </div>
      </form>
      <div class="ml-auto" *ngIf="isTesterAdmin">
        <button class="btn btn-icon btn-sm btn-primary btn-primary my-1 text-nowrap" (click)="add()">
          <span class="btn-inner--icon">
            <i class="ni ni-fat-add"></i>
          </span>
          Add new
        </button>
      </div>
    </div>

    <div class=" table-responsive table-hover sticky-last-column">
      <table class=" table align-items-center table-flush">
        <thead class=" thead-light">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Requesting Client</th>
            <th scope="col">Assigned Testers</th>
            <th scope="col" class="text-center">Progress</th>
            <th scope="col" class="text-center">Start Date</th>
            <th scope="col" class="text-center">End Date</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody class=" list">
          <ng-template #loading>
            <tr>
              <td colspan="7" class="text-center"> Loading. Please wait...</td>
            </tr>
          </ng-template>

          <ng-container *ngIf="(jobs$ | async) as jobs; else loading">
            <tr>
              <td colspan="7" class="text-center" *ngIf="jobs.length === 0"> No jobs available yet. Please try
                again later.</td>
            </tr>
            <tr *ngFor="let job of jobs | paginate: jobsPager; trackBy: trackById;">
              <th scope="row">
                <div class="align-items-center">

                  {{job.title}}
                </div>
              </th>

              <td class="bg-y">
                <div class=" media align-items-center" *ngIf="job.client" [routerLink]="['/', 'tester', 'clients', 'profile', job.client.id]">
                  <ngx-avatar class="mr-2" 
                    [name]="job.client.name" 
                    [src]="job.client.avatar" 
                    [round]="true"
                    [initialsSize]="2"></ngx-avatar>

                  <div class=" media-body d-flex flex-column">
                    <span class=" name mb-0 text-sm text-truncate d-inline-block" style="max-width: 150px;">
                      {{job.client.name}}
                    </span>
                    <small class="text-muted">{{job.client.email}}</small>
                  </div>
                </div>
              </td>

              <td class="bg-y">
                <div class="avatar-group" *ngIf="job.testers && job.testers.length > 0">
                  <a href="javascript:void(0)"
                    *ngFor="let tester of job.testers"
                    [routerLink]="['/', 'tester', 'profile', tester.id]"
                    [tooltip]="tester.firstName + ' ' + tester.lastName"
                    placement="top" 
                    class=" avatar rounded-circle" >
                    <ngx-avatar 
                        [name]="tester.firstName + ' ' + tester.lastName" 
                        [src]="tester.avatar" 
                        [round]="false"
                        [initialsSize]="2"></ngx-avatar>
                  </a>
                </div>
              </td>

              <td class="text-center">
                <span>
                  <span tooltip="Tests taken">{{job.totalTests}}</span> / <span tooltip="Tests requested">{{job.estimatedTests}}</span>
                  &nbsp;<span tooltip="Progress">({{job.totalTests/job.estimatedTests*100 | number: '1.0-0'}}%)</span>
                </span>
                <progressbar *ngIf="job.totalTests >= job.estimatedTests" type="success" [value]="100"> </progressbar>
                <progressbar *ngIf="!job.estimatedTests" type="danger" [value]="0"> </progressbar>
                <progressbar *ngIf="job.totalTests < job.estimatedTests && job.estimatedTests > 0"  
                  [type]="progressColor(job.totalTests/job.estimatedTests*100)"
                  [value]="job.totalTests/job.estimatedTests*100"> </progressbar>
              </td>

              <td class="text-center">
                <span>{{job.startDate | date: 'dd/MM/yyyy'}}</span>
              </td>
              <td class="text-center">
                <span>{{job.endDate | date: 'dd/MM/yyyy'}}</span>
              </td>

              <td class=" text-right">
                <div dropdown class="dropdown no-caret" container="table" *ngIf="isTesterAdmin">
                  <a id="button-basic" dropdownToggle role="button"
                    class="btn btn-sm btn-icon-only text-light dropdown-toggle" aria-controls="dropdown-basic">
                    <i class=" fas fa-ellipsis-v"> </i>
                  </a>

                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                    <button  class="dropdown-item" (click)="assignTester(job)">
                      Assign Tester
                    </button>

                    <button class="dropdown-item" (click)="edit(job)">
                      Edit
                    </button>

                    <button class="dropdown-item" (click)="delete(job)">
                      Delete
                    </button>

                  </div>
                </div>
        
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <app-pagination (pageChange)="pageChanged($event)"></app-pagination>
  </div>
</div>