<div class="container-fluid">
  <div class=" card">
    <div class=" card-header border-0 d-flex">
      <form #filtersForm="ngForm" autocomplete="off" class="mr-5">
        <div class="row">
          <!-- DIVS with col form-group-inline -->
          <!-- client -->
          <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
            <div class="input-group input-group-sm">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-building"></i></span>
              </div>

              <input [(ngModel)]="selected.client"
              [ngModelOptions]="{ standalone: true }"
              [typeahead]="clients$"
              [typeaheadAsync]="true"
              (typeaheadOnSelect)="selectMatch('client',$event)"
              typeaheadOptionField="name"
              (input)="clearIfEmpty('client')"
              class="form-control" placeholder="Company">
            </div>
          </div>
          

            <!-- created since -->
            <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="filters.startDate"
                  name="startDate" class="form-control" placeholder="Created since" type="text">
              </div>
            </div>

        <!-- created until -->
            <div class="col-12 col-md-4 col-lg-auto my-1 form-group-inline">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                </div>
                <input bsDatepicker [bsConfig]="{ dateInputFormat: 'MM/DD/YYYY' }" [(ngModel)]="filters.endDate"
                  name="endDate" class="form-control" placeholder="Created before" type="text">
              </div>
            </div>
        </div>
      </form>
      <div class="ml-auto">
        <button class="btn btn-icon btn-sm btn-primary btn-primary my-1 text-nowrap" (click)="add()">
          <span class="btn-inner--icon">
            <i class="ni ni-fat-add"></i>
          </span>
          Add new
        </button>
      </div>
    </div>

    <div class=" table-responsive table-hover sticky-last-column">
      <table class=" table align-items-center table-flush">
        <thead class=" thead-light">
          <tr>
            <th scope="col">Name</th>

            <th scope="col">Client</th>

            <th scope="col" class="text-center">Role</th>

            <th scope="col" class="text-center">Updated at</th>

            <th scope="col" class="text-center">Created at</th>

            <th scope="col"></th>
          </tr>
        </thead>

        <tbody class=" list">
          <ng-template #loading>
            <tr>
              <td colspan="6" class="text-center"> Loading. Please wait...</td>
            </tr>
          </ng-template>

          <ng-container *ngIf="(patients$ | async) as patients; else loading">
            <tr>
              <td colspan="6" class="text-center" *ngIf="patients.length === 0"> No patients available yet. Please try
                again later.</td>
            </tr>
            <tr *ngFor="let patient of patients | paginate: patientsPager">
              <th scope="row">
                <div class=" media align-items-center" [routerLink]="['/', 'admin', 'profile', patient.id]">
                  <ngx-avatar class="mr-2" 
                    [name]="patient.firstName + '' +  patient.lastName " 
                    [src]="patient.avatar"
                    [round]="true"
                    [initialsSize]="2">
                  </ngx-avatar>

                  <div class="media-body d-flex flex-column">
                    <span class="name mb-0 text-sm text-truncate d-inline-block" style="max-width: 150px;">
                      {{patient.firstName}} {{patient.lastName}}
                    </span>
                    <small class="text-muted">{{patient.email}}</small>
                  </div>
                </div>
              </th>

              <td class="bg-y">
                <div class=" media align-items-center" *ngIf="patient.client" [routerLink]="['/', 'admin', 'clients', 'profile', patient.client.id]">
                  <ngx-avatar class="mr-2" 
                    [name]="patient.client.name" 
                    [src]="patient.client.avatar"
                    [round]="true" 
                    [initialsSize]="2">
                  </ngx-avatar>

                  <div class=" media-body d-flex flex-column">
                    <span class=" name mb-0 text-sm text-truncate d-inline-block" style="max-width: 150px;">
                      {{patient.client.name}}
                    </span>
                    <small class="text-muted">{{patient.client.email}}</small>
                  </div>
                </div>
              </td>

              <td class="bg-y text-center">
                <span *ngFor="let role of patient.roles"  
                  class="btn btn-primary btn-sm">
                  {{ 'ROLE.' + role | translate }}
                </span>
              </td>

              <td class="bg-y text-center">{{patient.updatedAt | date: 'dd/MM/yyyy'}}</td>

              <td class="bg-y text-center">{{patient.createdAt | date: 'dd/MM/yyyy'}}</td>

              <td class=" text-right">
                <div dropdown class="dropdown no-caret" container="body">
                  <a id="button-basic" dropdownToggle role="button"
                    class="btn btn-sm btn-icon-only text-light dropdown-toggle" aria-controls="dropdown-basic">
                    <i class=" fas fa-ellipsis-v"> </i>
                  </a>

                  <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" *dropdownMenu>
                  
                    
                    <button class="dropdown-item" (click)="editpatient(patient)">
                      Edit
                    </button>
                    

                    <button class="dropdown-item" (click)="delete(patient)">
                      Delete
                    </button>

                  </div>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <app-pagination (pageChange)="pageChanged($event)"></app-pagination>
  </div>
</div>
