<div class=" header bg-secondary py-7 py-lg-8 pt-lg-9">
  <div class=" container">
    <div class=" header-body text-center mb-7">
      <div class=" row justify-content-center">
        <div class=" col-xl-5 col-lg-6 col-md-8 px-5">
          <h1 class=" text-white">{{ "reset_password.texts.title" | translate}}</h1>
          <p class=" text-lead text-white">
            {{ "reset_password.texts.description" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-primary" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<div class=" container mt--9 pb-5">
  <div class=" row justify-content-center">
    <div class=" col-lg-5 col-md-7">
      <div class=" card card-profile bg-light mt-5">

        <div class=" card-body pt-5 px-5">
          <form [formGroup]="form" autocomplete="off" (ngSubmit)="submit()">
            <div class=" form-group">
              <div class=" input-group input-group-merge input-group-alternative"
                [class.is-invalid]="submitted && f.password.errors">
                <div class=" input-group-prepend">
                  <span class=" input-group-text">
                    <i class=" ni ni-lock-circle-open"> </i>
                  </span>
                </div>

                <input class="form-control" [placeholder]="'reset_password.new_password' | translate" type="password" name="password"
                  formControlName="password" />
              </div>
              <div *ngIf="submitted && (f.password.errors || form.errors?.passwordsMismatch)" class="invalid-feedback">
                <div *ngIf="f.password.errors?.required">
                  {{ "error.fields.required" | translate}}
                </div>
                <div *ngIf="f.password.errors?.minlength">
                  {{ "error.fields.min_length" | translate:"{length:8}"}}
                </div>
                <div *ngIf="form.errors?.passwordsMismatch">
                  {{ "error.fields.passwords_match" | translate }}
                </div>
              </div>
            </div>

            <div class=" form-group">
              <div class=" input-group input-group-merge input-group-alternative"
                [class.is-invalid]="submitted && f.confirmPassword.errors">
                <div class=" input-group-prepend">
                  <span class=" input-group-text">
                    <i class=" ni ni-lock-circle-open"> </i>
                  </span>
                </div>

                <input class="form-control" [placeholder]="'reset_password.confirm_password' | translate" type="password"
                  name="confirmPassword" formControlName="confirmPassword" />
              </div>
              <div *ngIf="submitted && (f.confirmPassword.errors|| form.errors?.passwordsMismatch)"
                class="invalid-feedback">
                <div *ngIf="f.confirmPassword.errors?.required">
                  {{ "error.fields.required" | translate}}
                </div>
                <div *ngIf="form.errors?.passwordsMismatch">
                  {{ "error.fields.passwords_match" | translate}}
                </div>
              </div>
            </div>

            <div class=" text-center">
              <button class=" btn btn-primary mt-2">
                {{ "reset_password.reset_password" | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>

      <div class=" row mt-3">
        <div class=" col-6">
          <a routerLinkActive="active" class="text-white"
          [routerLink]="['/auth/login']">
            <small> {{ "GENERAL.have_account_login" | translate }}</small>
          </a>
        </div>
  
        <div class=" col-6 text-right">
          <a routerLinkActive="active" class="text-white"
          [routerLink]="['/auth/register']">
            <small> {{ "GENERAL.create_account" | translate }}</small>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
