<div class="row mx-3 d-flex align-items-center">
  <div class="col-4">
      <div class=" card">
        <img
          alt="Image placeholder"
          class=" card-img-top"
          src="assets/img/wallpapers/mens-fashion-trends-2021.jpg"
        />

        <div class=" card-body">
          <h5 class=" h2 card-title mb-0">Men Fashion</h5>

          <p class=" card-text mt-4">
            View all men fashion products
          </p>

          <button type="button" class="btn btn-secondary" [routerLink]="['/user/homepage/all-products/men']">Shop now</button>

        </div>
      </div>
  </div>


  <div class="col-4">
    <div class=" card">
      <img
        alt="Image placeholder"
        class=" card-img-top"
        src="assets/img/wallpapers/women-summer.jpg"
      />

      <div class=" card-body">
        <h5 class=" h2 card-title mb-0">Women new collection</h5>

        <p class=" card-text mt-4">
          View all men products from the summer collections
        </p>

        <button type="button" class="btn btn-secondary" [routerLink]="['/user/homepage/all-products/women-new']">Shop now</button>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class=" card">
      <img
        alt="Image placeholder"
        class=" card-img-top"
        src="assets/img/wallpapers/summer-men.jpg"
      />

      <div class=" card-body">
        <h5 class=" h2 card-title mb-0">Men new collection</h5>

        <p class=" card-text mt-4">
          View all men products from the summer collections
        </p>

        <button type="button" class="btn btn-secondary" [routerLink]="['/user/homepage/all-products/men-new']">Shop now</button>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class=" card">
      <img
        alt="Image placeholder"
        class=" card-img-top"
        src="assets/img/wallpapers/women.png"
      />

      <div class=" card-body">
        <h5 class=" h2 card-title mb-0">Women Fashion</h5>

        <p class=" card-text mt-4">
          View all women fashion products
        </p>

        <button type="button" class="btn btn-secondary" [routerLink]="['/user/homepage/all-products/women']">Shop now</button>

      </div>
    </div>
  </div>



  <div class="col-4">
    <div class=" card">
      <img
        alt="Image placeholder"
        class=" card-img-top"
        src="assets/img/wallpapers/all.jpeg"
      />

      <div class=" card-body">
        <h5 class=" h2 card-title mb-0">All Products</h5>

        <p class=" card-text mt-4">
          View all products
        </p>

        <button type="button" class="btn btn-secondary" [routerLink]="['/user/homepage/all-products/all']">Shop now</button>

      </div>
    </div>
  </div>

  <div class="col-4">
    <div class=" card">
      <img
        alt="Image placeholder"
        class=" card-img-top"
        src="assets/img/wallpapers/brands.jfif"
      />

      <div class=" card-body">
        <h5 class=" h2 card-title mb-0">Brands</h5>

        <p class=" card-text mt-4">
          Shop by the biggest and most popular brands
        </p>

        <button type="button" class="btn btn-secondary" [routerLink]="['/user/homepage/all-products/brands']">Shop now</button>

      </div>
    </div>
  </div>
</div>
