<div class=" main-content">
  <div class=" header bg-secondary py-7 py-lg-8 pt-lg-9">
    <div class=" container">
      <div class=" header-body text-center mb-7">
        <div class=" row justify-content-center">
          <div class=" col-xl-5 col-lg-6 col-md-8 px-5">
            <h1 class=" text-white">{{ "email_verify.texts.title" | translate}}</h1>

            <p class=" text-lead text-white" *ngIf="verified">
              {{ "email_verify.texts.description_validated" | translate}}
            </p>
            <p class=" text-lead text-white" *ngIf="!verified && !verifying">
              {{ "error.email_verification.email_not_valid" | translate}}
            </p>
            <p class=" text-lead text-white" *ngIf="!verified && verifying">
              {{ "email_verify.texts.description_in_progress" | translate}}
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="separator separator-bottom separator-skew zindex-100" *ngIf="verified">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-primary" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class=" container mt--8 pb-5" *ngIf="verified">
    <div class=" row justify-content-center">
      <div class=" col-lg-5 col-md-7">
        <div class=" card bg-light border-0 mb-0">


          <div class=" card-body px-lg-5 py-lg-5">
            <div class=" text-center text-muted mb-4">
              <small> {{ "email_verify.sign_in" | translate}}</small>
            </div>

            <form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="login()">
              <div class="form-group mb-3">
                <div class="input-group input-group-alternative" [class.is-invalid]="submitted && f.email.errors">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                  </div>
                  <input formControlName="email" class="form-control" [placeholder]="'email_verify.email_or_phone' | translate" type="text" />
                </div>

                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">
                    {{"error.fields.required" | translate}}
                  </div>
                </div>

              </div>
              <div class="form-group">
                <div class="input-group input-group-alternative" [class.is-invalid]="submitted && f.password.errors">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                  </div>
                  <input formControlName="password" class="form-control" [placeholder]=" 'email_verify.password' | translate" type="password" />
                </div>
                <div *ngIf="submitted && f.password.errors && f.password.errors.required" class="invalid-feedback">
                  {{ "error.fields.required" | translate}}
                </div>

              </div>
              <div class="custom-invalid">
                <div *ngIf="submitted && userNotFound" class="invalid-feedback">
                  {{ "error.user_not_found" | translate}}
                </div>
                <div *ngIf="submitted && generalError" class="invalid-feedback">
                  {{ "error.settings.not_saved" | translate}}
                </div>
              </div>
              <div class="custom-control custom-control-alternative custom-checkbox">
                <input formControlName="rememberMe" class="custom-control-input" id="customCheckRegister"
                  type="checkbox" />
                <label class="custom-control-label" for="customCheckRegister">
                  <span>{{"email_verify.remember_me" | translate}}
                  </span>
                </label>
              </div>
              <div class="text-center">
                <button type="button" class="btn btn-primary my-4" type="submit">
                  {{ "email_verify.sign_in" | translate}}
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class=" row mt-3">
          <div class=" col-6">
            <a routerLinkActive="active" class="text-white" [routerLink]="['/auth/login']">
              <small> {{ "GENERAL.have_account_login" | translate }}</small>
            </a>
          </div>

          <div class=" col-6 text-right">
            <a routerLinkActive="active" class="text-white" [routerLink]="['/auth/register']">
              <small> {{ "GENERAL.create_account" | translate }}</small>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
